[Desktop Entry]
Name=SubnetDesk
NoDisplay=true
MimeType=x-scheme-handler/subnetdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
